body, html{
  height: 100%;
  min-width: 960px;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.btn{
  background-color: pink;
  margin:-10px 10px 10px 10px;
}



